In [1]:
import pandas as pd

# Emergencia

In [2]:
df1 = pd.read_csv("./daily_datasets/emergencia.csv", sep=";")
#pd.set_option('display.max_rows', None)
df1

,Periodo,Nº de acionamentos do Serviço de Helicópteros de Emergência Médica (SHEM),Nº de acionamentos das Viaturas Médica de Emergência e Reanimação (VMER),Nº de acionamentos de Ambulâncias de Transporte Inter-Hospitalar Pediátrico (TIP),Nº de acionamentos das Ambulâncias de Suporte Imediato de Vida (SIV),Nº de acionamentos das Ambulâncias de Emergência Médica (AEM),Nº de acionamentos dos Motociclos de Emergência Médica (MEM),Nº de acionamentos das Unidade Móvel de Intervenção Psicológica de Emergência (UMIPE),Nº de acionamentos das Ambulâncias de Socorro sedeadas em Postos de Emergência Médica (PEM),Nº de acionamentos das Ambulâncias de Socorro sedeadas em Postos Reserva (RES),Nº de acionamentos das Ambulâncias sedeadas em Postos Não INEM (NINEM)
0,2017-01-10,1.0,289,7,112,481,32.0,2,2318,565,125
1,2017-04-24,2.0,245,3,90,411,33.0,1,2077,458,140
2,2017-06-18,4.0,275,2,110,430,0.0,1,2162,504,123
3,2017-07-02,2.0,239,2,104,409,3.0,0,2019,435,100
4,2017-10-21,0.0,247,1,89,442,0.0,3,1951,429,121
...,...,...,...,...,...,...,...,...,...,...,...
1671,2021-05-20,3.0,233,1,89,346,20.0,2,2515,233,140
1672,2021-05-21,4.0,229,1,80,360,31.0,4,2501,250,125
1673,2021-05-23,3.0,221,1,87,343,0.0,9,2166,197,85
1674,2021-05-27,0.0,242,4,93,391,40.0,3,2472,251,128
1675,2021-06-03,3.0,201,3,85,309,0.0,2,2082,209,89

In [3]:
start_date = '2020-01-01'
end_date = '2020-12-31'

In [4]:
mask = (df1['Periodo'] > start_date) & (df1['Periodo'] <= end_date)

In [5]:
df1 = df1.loc[mask]
df1

,Periodo,Nº de acionamentos do Serviço de Helicópteros de Emergência Médica (SHEM),Nº de acionamentos das Viaturas Médica de Emergência e Reanimação (VMER),Nº de acionamentos de Ambulâncias de Transporte Inter-Hospitalar Pediátrico (TIP),Nº de acionamentos das Ambulâncias de Suporte Imediato de Vida (SIV),Nº de acionamentos das Ambulâncias de Emergência Médica (AEM),Nº de acionamentos dos Motociclos de Emergência Médica (MEM),Nº de acionamentos das Unidade Móvel de Intervenção Psicológica de Emergência (UMIPE),Nº de acionamentos das Ambulâncias de Socorro sedeadas em Postos de Emergência Médica (PEM),Nº de acionamentos das Ambulâncias de Socorro sedeadas em Postos Reserva (RES),Nº de acionamentos das Ambulâncias sedeadas em Postos Não INEM (NINEM)
622,2020-01-10,3.0,305,4,124,439,30.0,2,2826,401,117
623,2020-01-11,3.0,292,4,115,436,0.0,2,2599,390,122
624,2020-01-14,5.0,293,2,123,420,22.0,0,2632,400,132
625,2020-01-17,0.0,308,8,118,405,22.0,0,2696,396,132
626,2020-01-21,4.0,283,1,112,401,22.0,2,2638,382,112
...,...,...,...,...,...,...,...,...,...,...,...
1641,2020-12-23,1.0,213,3,85,310,15.0,6,2304,227,106
1642,2020-12-24,4.0,242,3,85,313,4.0,2,2253,243,110
1643,2020-12-27,2.0,239,1,90,299,0.0,3,2181,216,103
1644,2020-12-28,1.0,231,3,76,352,6.0,4,2559,265,127
1645,2020-12-31,2.0,245,0,106,354,10.0,2,2487,224,108

In [6]:
df1.columns

Index(['Periodo',
       'Nº de acionamentos do Serviço de Helicópteros de Emergência Médica (SHEM)',
       'Nº de acionamentos das Viaturas Médica de Emergência e Reanimação (VMER)',
       'Nº de acionamentos de Ambulâncias de Transporte Inter-Hospitalar Pediátrico (TIP)',
       'Nº de acionamentos das Ambulâncias de Suporte Imediato de Vida (SIV)',
       'Nº de acionamentos das Ambulâncias de Emergência Médica (AEM)',
       'Nº de acionamentos dos Motociclos de Emergência Médica (MEM)',
       'Nº de acionamentos das Unidade Móvel de Intervenção Psicológica de Emergência (UMIPE)',
       'Nº de acionamentos das Ambulâncias de Socorro sedeadas em Postos de Emergência Médica (PEM)',
       'Nº de acionamentos das Ambulâncias de Socorro sedeadas em Postos Reserva (RES)',
       'Nº de acionamentos das Ambulâncias sedeadas em Postos Não INEM (NINEM)'],
      dtype='object')

In [7]:
df1.columns = ["Date","SHEM", "VMER","TIP","SIV","AEM","MEM","UMIPE","PEM","RES","NINEM"]
df1.columns
df1.head()

           Date  SHEM  VMER  TIP  SIV  AEM   MEM  UMIPE   PEM  RES  NINEM
622  2020-01-10   3.0   305    4  124  439  30.0      2  2826  401    117
623  2020-01-11   3.0   292    4  115  436   0.0      2  2599  390    122
624  2020-01-14   5.0   293    2  123  420  22.0      0  2632  400    132
625  2020-01-17   0.0   308    8  118  405  22.0      0  2696  396    132
626  2020-01-21   4.0   283    1  112  401  22.0      2  2638  382    112

In [8]:
 df1["Date"] = pd.to_datetime(df1["Date"], format = "%Y-%m-%d")

<ipython-input-8-8c7c79d2cdff>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["Date"] = pd.to_datetime(df1["Date"], format = "%Y-%m-%d")

In [9]:
df1.head()

          Date  SHEM  VMER  TIP  SIV  AEM   MEM  UMIPE   PEM  RES  NINEM
622 2020-01-10   3.0   305    4  124  439  30.0      2  2826  401    117
623 2020-01-11   3.0   292    4  115  436   0.0      2  2599  390    122
624 2020-01-14   5.0   293    2  123  420  22.0      0  2632  400    132
625 2020-01-17   0.0   308    8  118  405  22.0      0  2696  396    132
626 2020-01-21   4.0   283    1  112  401  22.0      2  2638  382    112

In [10]:
df1 = df1.set_index('Date')
df1

            SHEM  VMER  TIP  SIV  AEM   MEM  UMIPE   PEM  RES  NINEM
Date
2020-01-10   3.0   305    4  124  439  30.0      2  2826  401    117
2020-01-11   3.0   292    4  115  436   0.0      2  2599  390    122
2020-01-14   5.0   293    2  123  420  22.0      0  2632  400    132
2020-01-17   0.0   308    8  118  405  22.0      0  2696  396    132
2020-01-21   4.0   283    1  112  401  22.0      2  2638  382    112
...          ...   ...  ...  ...  ...   ...    ...   ...  ...    ...
2020-12-23   1.0   213    3   85  310  15.0      6  2304  227    106
2020-12-24   4.0   242    3   85  313   4.0      2  2253  243    110
2020-12-27   2.0   239    1   90  299   0.0      3  2181  216    103
2020-12-28   1.0   231    3   76  352   6.0      4  2559  265    127
2020-12-31   2.0   245    0  106  354  10.0      2  2487  224    108

[365 rows x 10 columns]

# Amostras / Exames

In [11]:
df2 = pd.read_csv("./daily_datasets/amostras.csv")
#pd.set_option('display.max_rows', None)
df2

,data,amostras,amostras_novas,amostras_pcr,amostras_pcr_novas,amostras_antigenio,amostras_antigenio_novas
0,26-02-2020,NaN,NaN,NaN,NaN,NaN,NaN
1,27-02-2020,NaN,NaN,NaN,NaN,NaN,NaN
2,28-02-2020,NaN,NaN,NaN,NaN,NaN,NaN
3,29-02-2020,NaN,NaN,NaN,NaN,NaN,NaN
4,01-03-2020,25.0,25.0,25.0,25.0,0.0,0.0
...,...,...,...,...,...,...,...
447,18-05-2021,11275078.0,39828.0,9573661.0,31055.0,1701417.0,8773.0
448,19-05-2021,11317826.0,42748.0,9604893.0,31232.0,1712933.0,11516.0
449,20-05-2021,11360860.0,43034.0,9635452.0,30559.0,1725408.0,12475.0
450,21-05-2021,11403633.0,42773.0,9667033.0,31581.0,1736600.0,11192.0
451,22-05-2021,11431364.0,27731.0,9692354.0,25321.0,1739010.0,2410.0

In [12]:
df2.columns

Index(['data', 'amostras', 'amostras_novas', 'amostras_pcr',
       'amostras_pcr_novas', 'amostras_antigenio', 'amostras_antigenio_novas'],
      dtype='object')

In [13]:
df2 = df2.drop(columns=["amostras","amostras_pcr","amostras_antigenio"])
df2

           data  amostras_novas  amostras_pcr_novas  amostras_antigenio_novas
0    26-02-2020             NaN                 NaN                       NaN
1    27-02-2020             NaN                 NaN                       NaN
2    28-02-2020             NaN                 NaN                       NaN
3    29-02-2020             NaN                 NaN                       NaN
4    01-03-2020            25.0                25.0                       0.0
..          ...             ...                 ...                       ...
447  18-05-2021         39828.0             31055.0                    8773.0
448  19-05-2021         42748.0             31232.0                   11516.0
449  20-05-2021         43034.0             30559.0                   12475.0
450  21-05-2021         42773.0             31581.0                   11192.0
451  22-05-2021         27731.0             25321.0                    2410.0

[452 rows x 4 columns]

In [14]:
df2 = df2.fillna(0)
df2

           data  amostras_novas  amostras_pcr_novas  amostras_antigenio_novas
0    26-02-2020             0.0                 0.0                       0.0
1    27-02-2020             0.0                 0.0                       0.0
2    28-02-2020             0.0                 0.0                       0.0
3    29-02-2020             0.0                 0.0                       0.0
4    01-03-2020            25.0                25.0                       0.0
..          ...             ...                 ...                       ...
447  18-05-2021         39828.0             31055.0                    8773.0
448  19-05-2021         42748.0             31232.0                   11516.0
449  20-05-2021         43034.0             30559.0                   12475.0
450  21-05-2021         42773.0             31581.0                   11192.0
451  22-05-2021         27731.0             25321.0                    2410.0

[452 rows x 4 columns]

In [15]:
df2.columns =["Date","total_testes","testes_pcr","testes_antigenio"]
df2["Date"] = pd.to_datetime(df2["Date"], format = "%d-%m-%Y")
df2.columns

Index(['Date', 'total_testes', 'testes_pcr', 'testes_antigenio'], dtype='object')

In [16]:
df2.head()

        Date  total_testes  testes_pcr  testes_antigenio
0 2020-02-26           0.0         0.0               0.0
1 2020-02-27           0.0         0.0               0.0
2 2020-02-28           0.0         0.0               0.0
3 2020-02-29           0.0         0.0               0.0
4 2020-03-01          25.0        25.0               0.0

In [17]:
df2 = df2.set_index('Date')

In [18]:
df2

            total_testes  testes_pcr  testes_antigenio
Date
2020-02-26           0.0         0.0               0.0
2020-02-27           0.0         0.0               0.0
2020-02-28           0.0         0.0               0.0
2020-02-29           0.0         0.0               0.0
2020-03-01          25.0        25.0               0.0
...                  ...         ...               ...
2021-05-18       39828.0     31055.0            8773.0
2021-05-19       42748.0     31232.0           11516.0
2021-05-20       43034.0     30559.0           12475.0
2021-05-21       42773.0     31581.0           11192.0
2021-05-22       27731.0     25321.0            2410.0

[452 rows x 3 columns]

#

# Viajantes EUA

In [19]:
df3 = pd.read_csv("./daily_datasets/travelers_usa_v.csv", sep="\\t")

<ipython-input-19-7e519462ead2>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df3 = pd.read_csv("./daily_datasets/travelers_usa_v.csv", sep="\\t")

In [20]:
df3

,Date,2021 Traveler Throughput,2020 Traveler Throughput,2019 Traveler Throughput
0,5/23/2021,"1,863,697","267,451","2,070,716"
1,5/22/2021,"1,550,044","253,190","2,124,825"
2,5/21/2021,"1,820,433","348,673","2,792,670"
3,5/20/2021,"1,728,496","318,449","2,673,635"
4,5/19/2021,"1,496,089","230,367","2,472,123"
...,...,...,...,...
360,5/28/2020,NaN,"321,776","2,485,770"
361,5/27/2020,NaN,"261,170","2,269,035"
362,5/26/2020,NaN,"264,843","2,453,649"
363,5/25/2020,NaN,"340,769","2,512,237"
364,5/24/2020,NaN,"267,451","2,070,716"

In [21]:
df3["Date"] = pd.to_datetime(df3["Date"], format = "%m/%d/%Y")
df3.head()

,Date,2021 Traveler Throughput,2020 Traveler Throughput,2019 Traveler Throughput
0,2021-05-23,"1,863,697","267,451","2,070,716"
1,2021-05-22,"1,550,044","253,190","2,124,825"
2,2021-05-21,"1,820,433","348,673","2,792,670"
3,2021-05-20,"1,728,496","318,449","2,673,635"
4,2021-05-19,"1,496,089","230,367","2,472,123"

In [22]:
df3.columns=["Date","2021","2020","2019"]
df3.head()

        Date       2021     2020       2019
0 2021-05-23  1,863,697  267,451  2,070,716
1 2021-05-22  1,550,044  253,190  2,124,825
2 2021-05-21  1,820,433  348,673  2,792,670
3 2021-05-20  1,728,496  318,449  2,673,635
4 2021-05-19  1,496,089  230,367  2,472,123

## Ano 2020

In [23]:
df3_2020 = df3.drop(columns=["2021","2019"])
df3_2020['Date'] =  df3_2020['Date'].apply(lambda x: x.replace(year = 2020))
df3_2020.columns=['Date', 'Travelers']
df3_2020 = df3_2020.set_index('Date')
df3_2020.head()

           Travelers
Date
2020-05-23   267,451
2020-05-22   253,190
2020-05-21   348,673
2020-05-20   318,449
2020-05-19   230,367

## Ano 2021

In [24]:
df3_2021 = df3.drop(columns=["2020","2019"])
df3_2021['Date'] =  df3_2021['Date'].apply(lambda x: x.replace(year = 2021))
df3_2021.columns=['Date', 'Travelers']
df3_2021 = df3_2021.set_index('Date')
df3_2021.head()

            Travelers
Date
2021-05-23  1,863,697
2021-05-22  1,550,044
2021-05-21  1,820,433
2021-05-20  1,728,496
2021-05-19  1,496,089

In [25]:
df3 = pd.concat([df3_2020,df3_2021])
#pd.set_option('display.max_rows', None)
df3 = df3.dropna()
df3

            Travelers
Date
2020-05-23    267,451
2020-05-22    253,190
2020-05-21    348,673
2020-05-20    318,449
2020-05-19    230,367
...               ...
2021-01-05    766,594
2021-01-04  1,080,346
2021-01-03  1,327,289
2021-01-02  1,192,881
2021-01-01    805,990

[508 rows x 1 columns]

# OWID datset

In [38]:
df5 = pd.read_csv("./daily_datasets/owid.csv")
#pd.set_option('display.max_columns', None)
df5

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92880,ZWE,Africa,Zimbabwe,2021-05-28,38918.0,64.0,36.286,1592.0,0.0,0.857,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
92881,ZWE,Africa,Zimbabwe,2021-05-29,38933.0,15.0,36.286,1594.0,2.0,1.143,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
92882,ZWE,Africa,Zimbabwe,2021-05-30,38944.0,11.0,37.429,1594.0,0.0,1.143,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
92883,ZWE,Africa,Zimbabwe,2021-05-31,38961.0,17.0,37.857,1594.0,0.0,1.143,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
92884,ZWE,Africa,Zimbabwe,2021-06-01,38998.0,37.0,41.714,1599.0,5.0,1.714,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571

In [39]:
df5 = df5.drop(columns = ['total_cases', 'new_cases_smoothed', 'total_deaths', 'new_deaths_smoothed', 'total_cases_per_million', 'new_cases_smoothed_per_million', 'total_deaths_per_million', 
                    'new_deaths_smoothed_per_million', 'reproduction_rate', 'weekly_icu_admissions','weekly_icu_admissions_per_million','weekly_hosp_admissions','weekly_hosp_admissions_per_million',
                    'total_tests','total_tests_per_thousand', 'new_tests_smoothed', 'new_tests_smoothed_per_thousand', 'tests_units', 'total_vaccinations', 'new_vaccinations_smoothed', 
                    'total_vaccinations_per_hundred', 'new_vaccinations_smoothed_per_million', 'stringency_index', 'population', 'population_density', 'median_age', 'aged_65_older', 'aged_70_older', 
                    'extreme_poverty', 'human_development_index'])

In [40]:
import numpy as np
unicos = pd.unique(df5['location'])
f=len(unicos)
print(f)

230

In [41]:
unicos

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Asia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czechia', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Europe', 'European Union',
       'Faeroe Islands', 'Falkland Islands', 'Fiji', 'Finland', 'France',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'International', 'Iran', 'Iraq', 'Ireland',
       'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo', 'Kuwait',
       'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia',
       'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macao',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (country)', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North America',
       'North Macedonia', 'Northern Cyprus', 'Norway', 'Oceania', 'Oman',
       'Pakistan', 'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Pitcairn', 'Poland', 'Portugal', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican', 'Venezuela',
       'Vietnam', 'Wallis and Futuna', 'World', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [42]:
unicos = np.delete(unicos, [np.where(unicos == 'Afghanistan'), np.where(unicos == 'Albania'), np.where(unicos == 'Africa'), np.where(unicos == 'Algeria'), np.where(unicos == 'Anguilla'), 
                            np.where(unicos == 'Antigua and Barbuda'), np.where(unicos == 'Armenia'), np.where(unicos == 'Aruba'), np.where(unicos == 'Asia'), np.where(unicos == 'Bahrain'), 
                           np.where(unicos == 'Bangladesh'), np.where(unicos == 'Barbados'), np.where(unicos == 'Belarus'), np.where(unicos == 'Belize'), np.where(unicos == 'Benin'), 
                           np.where(unicos == 'Bermuda'), np.where(unicos == 'Bhutan'), np.where(unicos == 'Bolivia'), np.where(unicos == 'Bonaire Sint Eustatius and Saba'), np.where(unicos == 'Botswana'), 
                           np.where(unicos == 'Brunei'), np.where(unicos == 'Burkina Faso'), np.where(unicos == 'Burundi'), np.where(unicos == 'Cambodia'), np.where(unicos == 'Cameroon'), 
                           np.where(unicos == 'Cayman Islands'), np.where(unicos == 'Central African Republic'), np.where(unicos == 'Chad'), np.where(unicos == 'Chile'), np.where(unicos == 'Colombia'), 
                           np.where(unicos == 'Comoros'), np.where(unicos == 'Congo'), np.where(unicos == 'Cook Islands'), np.where(unicos == 'Costa Rica'), np.where(unicos == "Cote d'Ivoire"), 
                           np.where(unicos == 'Cuba'), np.where(unicos == 'Curacao'), np.where(unicos == 'Democratic Republic of Congo'), np.where(unicos == 'Djibouti'), np.where(unicos == 'Dominica'), 
                           np.where(unicos == 'Ecuador'), np.where(unicos == 'El Salvador'), np.where(unicos == 'Equatorial Guinea'), np.where(unicos == 'Eritrea'), np.where(unicos == 'Eswatini'), 
                           np.where(unicos == 'Ethiopia'), np.where(unicos == 'Europe'), np.where(unicos == 'European Union'), np.where(unicos == 'Faeroe Islands'), np.where(unicos == 'Falkland Islands'), 
                           np.where(unicos == 'Fiji'), np.where(unicos == 'French Polynesia'), np.where(unicos == 'Gabon'), np.where(unicos == 'Gambia'), np.where(unicos == 'Ghana'), 
                           np.where(unicos == 'Grenada'), np.where(unicos == 'Guatemala'), np.where(unicos == 'Guernsey'), np.where(unicos == 'Guyana'), np.where(unicos == 'Haiti'), 
                           np.where(unicos == 'Honduras'), np.where(unicos == 'Indonesia'), np.where(unicos == 'International'), np.where(unicos == 'Iran'), np.where(unicos == 'Iraq'), 
                           np.where(unicos == 'Isle of Man'), np.where(unicos == 'Israel'), np.where(unicos == 'Jamaica'), np.where(unicos == 'Jersey'), np.where(unicos == 'Jordan'), 
                           np.where(unicos == 'Kazakhstan'), np.where(unicos == 'Kenya'), np.where(unicos == 'Kiribati'), np.where(unicos == 'Kosovo'), np.where(unicos == 'Kuwait'), 
                           np.where(unicos == 'Kyrgyzstan'), np.where(unicos == 'Laos'), np.where(unicos == 'Lebanon'), np.where(unicos == 'Lesotho'), np.where(unicos == 'Liberia'), 
                           np.where(unicos == 'Libya'), np.where(unicos == 'Madagascar'), np.where(unicos == 'Malawi'), np.where(unicos == 'Malaysia'), np.where(unicos == 'Mali'), 
                           np.where(unicos == 'Marshall Islands'), np.where(unicos == 'Mauritania'), np.where(unicos == 'Mauritius'), np.where(unicos == 'Micronesia (country)'), np.where(unicos == 'Mongolia'), 
                           np.where(unicos == 'Montserrat'), np.where(unicos == 'Myanmar'), np.where(unicos == 'Namibia'), np.where(unicos == 'Nauru'), np.where(unicos == 'Nepal'), 
                           np.where(unicos == 'New Caledonia'), np.where(unicos == 'Nicaragua'), np.where(unicos == 'Niger'), np.where(unicos == 'Nigeria'), np.where(unicos == 'North America'),  
                           np.where(unicos == 'North Macedonia'), np.where(unicos == 'Northern Cyprus'), np.where(unicos == 'Oceania'), np.where(unicos == 'Oman'), np.where(unicos == 'Pakistan'), 
                           np.where(unicos == 'Palestine'), np.where(unicos == 'Panama'), np.where(unicos == 'Papua New Guinea'), np.where(unicos == 'Paraguay'), np.where(unicos == 'Peru'), 
                           np.where(unicos == 'Philippines'), np.where(unicos == 'Pitcairn'), np.where(unicos == 'Qatar'), np.where(unicos == 'Rwanda'), 
                           np.where(unicos == 'Saint Helena'), np.where(unicos == 'Saint Kitts and Nevis'), np.where(unicos == 'Saint Lucia'), np.where(unicos == 'Saint Vincent and the Grenadines'),
                           np.where(unicos == 'Samoa'), np.where(unicos == 'Saudi Arabia'), np.where(unicos == 'Senegal'), np.where(unicos == 'Seychelles'), np.where(unicos == 'Sierra Leone'),
                           np.where(unicos == 'Singapore'), np.where(unicos == 'Sint Maarten (Dutch part)'), np.where(unicos == 'Solomon Islands'), np.where(unicos == 'Somalia'), np.where(unicos == 'South Africa'),  
                           np.where(unicos == 'South America'), np.where(unicos == 'South Korea'), np.where(unicos == 'South Sudan'), np.where(unicos == 'Sri Lanka'), np.where(unicos == 'Sudan'), 
                           np.where(unicos == 'Suriname'), np.where(unicos == 'Syria'), np.where(unicos == 'Taiwan'), np.where(unicos == 'Tajikistan'), np.where(unicos == 'Tanzania'),
                           np.where(unicos == 'Thailand'), np.where(unicos == 'Timor'), np.where(unicos == 'Togo'), np.where(unicos == 'Tonga'), np.where(unicos == 'Trinidad and Tobago'), 
                           np.where(unicos == 'Trinidad and Tobago'), np.where(unicos == 'Tunisia'), np.where(unicos == 'Turkmenistan'), np.where(unicos == 'Turks and Caicos Islands'), np.where(unicos == 'Tuvalu'), 
                           np.where(unicos == 'Uganda'), np.where(unicos == 'Uruguay'), np.where(unicos == 'Uzbekistan'), np.where(unicos == 'Vanuatu'), np.where(unicos == 'Vietnam'), 
                           np.where(unicos == 'Wallis and Futuna'), np.where(unicos == 'World'), np.where(unicos == 'Yemen'), np.where(unicos == 'Zambia'), np.where(unicos == 'Zimbabwe')])

In [43]:
dataframes = []

criar datasets para cada país presente no dataset global

In [44]:
for c in unicos:
    new = df5.loc[df5['location'] == c]
    dataframes.append(new)

In [45]:
l = len(dataframes[0].columns)
l

29

In [46]:
dataframes[9].columns

Index(['iso_code', 'continent', 'location', 'date', 'new_cases', 'new_deaths',
       'new_cases_per_million', 'new_deaths_per_million', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'new_tests', 'new_tests_per_thousand',
       'positive_rate', 'tests_per_case', 'people_vaccinated',
       'people_fully_vaccinated', 'new_vaccinations',
       'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred',
       'gdp_per_capita', 'cardiovasc_death_rate', 'diabetes_prevalence',
       'female_smokers', 'male_smokers', 'handwashing_facilities',
       'hospital_beds_per_thousand', 'life_expectancy'],
      dtype='object')

criar listas de nomes para as colunas do respetivo dataset

In [47]:
colunas = []
for u in unicos:
    #print(u)
    #colunas.append(['a'+u , 'b'+u])
    colunas.append(['iso_code_'+u, 'continent_'+u, 'location_'+u,'date', 'new_cases_'+u, 'new_deaths_'+u, 'new_cases_per_million_'+u, 'new_deaths_per_million_'+u, 'icu_patients_'+u, 'icu_patients_per_million_'+u,
                    'hosp_patients_'+u, 'hosp_patients_per_million_'+u, 'new_tests_'+u, 'new_tests_per_thousand_'+u, 'positive_rate_'+u, 'tests_per_case_'+u, 'people_vaccinated_'+u, 'people_fully_vaccinated_'+u, 
                    'new_vaccinations_'+u, 'people_vaccinated_per_hundred_'+u, 'people_fully_vaccinated_per_hundred_'+u, 'gdp_per_capita_'+u, 'cardiovasc_death_rate_'+u, 'diabetes_prevalence_'+u, 
                    'female_smokers_'+u,'male_smokers_'+u, 'handwashing_facilities_'+u, 'hospital_beds_per_thousand_'+u,'life_expectancy_'+u])

In [48]:
#colunas

criar dataframes com colunas identificadoras de que pais pertencem

In [49]:
df_d = []
i=0
for d in dataframes:
    d.columns=colunas[i]
    d = d.drop(columns = d.columns[[0,1,2]], axis =1)
    df_d.append(d)
    i=i+1
#df_d[5]

colocar as datas no formato corret

In [50]:
for d in df_d:
    d["date"] = pd.to_datetime(d["date"], format = "%Y-%m-%d")

tornar datas como indices

In [51]:
df_index =[]

In [52]:
for d in df_d:
    df_index.append(d.set_index('date'))

Concatenar toos os dataframes

In [53]:
result = pd.concat(df_index, axis=1)
nan_values = result.isnull().sum()
for j in nan_values.index:
    if nan_values[j] >60:
        result = result.drop(columns = j, axis =1)
result.head()

,new_tests_Argentina,new_tests_per_thousand_Argentina,positive_rate_Argentina,tests_per_case_Argentina,gdp_per_capita_Argentina,cardiovasc_death_rate_Argentina,diabetes_prevalence_Argentina,female_smokers_Argentina,male_smokers_Argentina,hospital_beds_per_thousand_Argentina,...,new_deaths_United States,new_cases_per_million_United States,new_deaths_per_million_United States,gdp_per_capita_United States,cardiovasc_death_rate_United States,diabetes_prevalence_United States,female_smokers_United States,male_smokers_United States,hospital_beds_per_thousand_United States,life_expectancy_United States
date,,,,,,,,,,,,,,,,,,,,,
2020-01-01,1.0,0.000,NaN,NaN,18933.907,191.032,5.5,16.2,27.7,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-02,36.0,0.001,NaN,NaN,18933.907,191.032,5.5,16.2,27.7,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-03,4.0,0.000,NaN,NaN,18933.907,191.032,5.5,16.2,27.7,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-04,65.0,0.001,NaN,NaN,18933.907,191.032,5.5,16.2,27.7,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-05,4.0,0.000,NaN,NaN,18933.907,191.032,5.5,16.2,27.7,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Concatenar com o daily covid dataset

In [54]:
df_daily = pd.read_csv('daily_covid.csv')

In [55]:
len(df_daily.index)

486

In [56]:
df_daily.columns

Index(['Date', 'confirmados', 'confirmados_arsnorte', 'confirmados_arscentro',
       'confirmados_arslvt', 'confirmados_arsalentejo',
       'confirmados_arsalgarve', 'confirmados_acores', 'confirmados_madeira',
       'confirmados_novos', 'recuperados', 'obitos', 'internados_uci',
       'obitos_arsnorte', 'obitos_arscentro', 'obitos_arslvt',
       'obitos_arsalentejo', 'obitos_arsalgarve', 'obitos_acores',
       'obitos_madeira', 'ativos', 'internados_enfermaria', 'confirmados_0_9',
       'confirmados_10_19', 'confirmados_20_29', 'confirmados_30_39',
       'confirmados_40_49', 'confirmados_50_59', 'confirmados_60_69',
       'confirmados_70_79', 'confirmados_80_plus', 'obitos_0_9',
       'obitos_10_19', 'obitos_20_29', 'obitos_30_39', 'obitos_40_49',
       'obitos_50_59', 'obitos_60_69', 'obitos_70_79', 'obitos_80_plus',
       'Max_Temp', 'Min_Temp', 'Temperature', 'Precipitation', 'Wind_Speed',
       'Wind_Direction', 'Visibility', 'Cloud_Cover', 'Relative_Humidity',
       'Rain', 'Clear', 'Partially_cloudy'],
      dtype='object')

In [57]:
df_daily = df_daily.drop(columns=['confirmados', 'confirmados_arsnorte', 'confirmados_arscentro', 'confirmados_arslvt', 'confirmados_arsalentejo', 'confirmados_arsalgarve', 'confirmados_acores', 'confirmados_madeira',
                       'obitos_arsnorte', 'obitos_arscentro', 'obitos_arslvt', 'obitos_arsalentejo', 'obitos_arsalgarve', 'obitos_acores', 'obitos_madeira', 'confirmados_0_9', 'confirmados_10_19', 
                       'confirmados_20_29', 'confirmados_30_39', 'confirmados_40_49', 'confirmados_50_59', 'confirmados_60_69', 'confirmados_70_79', 'confirmados_80_plus', 'obitos_0_9',
                       'obitos_10_19', 'obitos_20_29', 'obitos_30_39', 'obitos_40_49','obitos_50_59', 'obitos_60_69', 'obitos_70_79', 'obitos_80_plus'])

In [58]:
df_daily['Date'] = pd.to_datetime(df_daily['Date'], format = "%Y-%m-%d")
df_daily= df_daily.set_index('Date')

In [59]:
df_daily.head(10)

,confirmados_novos,recuperados,obitos,internados_uci,ativos,internados_enfermaria,Max_Temp,Min_Temp,Temperature,Precipitation,Wind_Speed,Wind_Direction,Visibility,Cloud_Cover,Relative_Humidity,Rain,Clear,Partially_cloudy
Date,,,,,,,,,,,,,,,,,,
2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,13.9,6.9,9.6,0.2,9.0,114.04,5.4,5.2,91.29,1,0,0
2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,12.0,8.0,10.1,0.1,10.4,57.96,6.6,10.7,91.84,1,0,0
2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,16.9,11.0,13.1,0.0,8.4,153.71,9.8,9.9,80.97,0,1,0
2020-01-04,NaN,NaN,NaN,NaN,NaN,NaN,15.1,9.6,12.2,0.0,17.6,100.58,9.3,4.6,78.63,0,1,0
2020-01-05,NaN,NaN,NaN,NaN,NaN,NaN,13.0,7.4,10.1,0.0,16.4,81.50,11.1,0.0,75.41,0,1,0
2020-01-06,NaN,NaN,NaN,NaN,NaN,NaN,14.4,6.4,9.9,0.0,10.6,134.33,9.1,6.8,82.27,0,1,0
2020-01-07,NaN,NaN,NaN,NaN,NaN,NaN,14.1,6.5,9.8,0.0,13.1,142.33,9.8,7.0,77.92,0,1,0
2020-01-08,NaN,NaN,NaN,NaN,NaN,NaN,16.5,7.2,11.9,0.0,16.9,263.58,9.3,7.5,83.02,0,1,0
2020-01-09,NaN,NaN,NaN,NaN,NaN,NaN,16.6,11.2,14.0,0.0,15.3,329.04,10.8,12.8,87.75,0,1,0
2020-01-10,NaN,NaN,NaN,NaN,NaN,NaN,14.6,9.1,11.5,0.0,23.4,303.63,11.3,2.6,68.88,0,1,0

In [61]:
all = pd.concat([df_daily,df1,df2,df3_2020,df3_2021,result],axis=1)

In [62]:
#pd.set_option('display.max_rows', None)
all = all.fillna(0)
all

,confirmados_novos,recuperados,obitos,internados_uci,ativos,internados_enfermaria,Max_Temp,Min_Temp,Temperature,Precipitation,...,new_deaths_United States,new_cases_per_million_United States,new_deaths_per_million_United States,gdp_per_capita_United States,cardiovasc_death_rate_United States,diabetes_prevalence_United States,female_smokers_United States,male_smokers_United States,hospital_beds_per_thousand_United States,life_expectancy_United States
2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,13.9,6.9,9.6,0.2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-01-02,0.0,0.0,0.0,0.0,0.0,0.0,12.0,8.0,10.1,0.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-01-03,0.0,0.0,0.0,0.0,0.0,0.0,16.9,11.0,13.1,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-01-04,0.0,0.0,0.0,0.0,0.0,0.0,15.1,9.6,12.2,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-01-05,0.0,0.0,0.0,0.0,0.0,0.0,13.0,7.4,10.1,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021-12-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021-12-29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021-12-30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021-12-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [63]:
for i in all.index:
    if(i.year == 2021 and i.month == 4 and i.day > 22) or (i.year == 2021 and i.month>4):
        all = all.drop(index = i)

all

,confirmados_novos,recuperados,obitos,internados_uci,ativos,internados_enfermaria,Max_Temp,Min_Temp,Temperature,Precipitation,...,new_deaths_United States,new_cases_per_million_United States,new_deaths_per_million_United States,gdp_per_capita_United States,cardiovasc_death_rate_United States,diabetes_prevalence_United States,female_smokers_United States,male_smokers_United States,hospital_beds_per_thousand_United States,life_expectancy_United States
2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,13.9,6.9,9.6,0.20,...,0.0,0.000,0.000,0.000,0.000,0.00,0.0,0.0,0.00,0.00
2020-01-02,0.0,0.0,0.0,0.0,0.0,0.0,12.0,8.0,10.1,0.10,...,0.0,0.000,0.000,0.000,0.000,0.00,0.0,0.0,0.00,0.00
2020-01-03,0.0,0.0,0.0,0.0,0.0,0.0,16.9,11.0,13.1,0.00,...,0.0,0.000,0.000,0.000,0.000,0.00,0.0,0.0,0.00,0.00
2020-01-04,0.0,0.0,0.0,0.0,0.0,0.0,15.1,9.6,12.2,0.00,...,0.0,0.000,0.000,0.000,0.000,0.00,0.0,0.0,0.00,0.00
2020-01-05,0.0,0.0,0.0,0.0,0.0,0.0,13.0,7.4,10.1,0.00,...,0.0,0.000,0.000,0.000,0.000,0.00,0.0,0.0,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-04-18,441.0,395.0,3.0,6.0,43.0,7.0,22.6,12.9,16.9,0.00,...,337.0,127.232,1.018,54225.446,151.089,10.79,19.1,24.6,2.77,78.86
2021-04-19,220.0,547.0,1.0,3.0,-328.0,23.0,22.4,13.2,17.1,0.00,...,502.0,205.808,1.517,54225.446,151.089,10.79,19.1,24.6,2.77,78.86
2021-04-20,424.0,902.0,5.0,1.0,-483.0,-26.0,20.4,13.6,16.3,0.00,...,840.0,184.110,2.538,54225.446,151.089,10.79,19.1,24.6,2.77,78.86
2021-04-21,610.0,532.0,1.0,-3.0,77.0,-29.0,18.4,13.5,15.3,1.04,...,857.0,189.905,2.589,54225.446,151.089,10.79,19.1,24.6,2.77,78.86
2021-04-22,636.0,521.0,4.0,-6.0,111.0,4.0,20.1,13.1,16.3,0.20,...,963.0,203.228,2.909,54225.446,151.089,10.79,19.1,24.6,2.77,78.86

In [64]:
all.to_csv("dataframe_final.csv")